
@media (min-width: 1024px) {

    #container  {
        display: flex;  
        flex-flow: row wrap;
        font-weight: bold;
        text-align: center;
     }
    
    
    .item {
        padding: 10px;
        flex: 1 100%;
        
      }

#a {
   
    background-color: green;
    
}

#b {
   
    flex: 1 0 0;
    background-color: lightcoral;
}

#c {
   
    flex: 1 0 0;
    background-color: lightseagreen;
}

#d {
    
    flex: 1 0 0;
    background-color: red;
}

#e {
    
    
    background-color: blueviolet;
}

#f {
   
    flex: 1 0 0;
    background-color: greenyellow;
} 

#g {
   
    flex: 1 0 0;
    background-color: orangered;
}

#h {
   
    
    background-color: rgb(6, 49, 99);
}

#i {
  
    
    background-color: rosybrown;
} 

}