
@media (min-width: 1024px) {

   #container  {
    display:grid;
    width: 100vw;
    height: 100vw;
 }


.item {
    font-size: 5vh;
    text-align: center;
    border: seashell;
  }


#a {
    /* width:100%; */
    background-color: green;
    grid-area: 1 / 1 / span 2 / span 2;
}

#b {
   
    grid-area: 3 / 1 / span 2 / span 2;
    background-color: lightcoral;
}

#c {
   
   
    background-color: lightseagreen;
}

#d {
    
    
    background-color: red;
}

#e {
    
    
    background-color: blueviolet;
}

#f {
   
    
    background-color: greenyellow;
} 

#g {
   
    
    background-color: orangered;
}

#h {
   
    
    background-color: rgb(6, 49, 99);
}

#i {
  
    grid-area: 8 / 1 / span 2 / span 2;
    background-color: rosybrown;
} 

}