
#container  {
    display:grid;
    width: 100%;
    height: 100%;
    
 }


.item {
    font-size: 30px;
    text-align: center;
    
  }



#a {
    width:100%;
    
    background-color: gray;
}

#b {
    width:100%;
    
    background-color: hotpink;
}

#c {
    width:100%;
   
    background-color: indigo;
}

#d {
    width:100%;
    
    background-color: khaki;
}

#e {
    width:100%;
    
    background-color: blue;
}

#f {
    width:100%;
    
    background-color: chocolate;
} 

#g {
    width:100%;
    
    background-color: yellow;
}

#h {
    width:100%;
    
    background-color: tomato;
}

#i {
    width:100%;
    
    background-color: teal;
} 